.skryt {
  display: none;
}

:root {
  --primery-text-color: #757575;
  --primery-title-color: #212121;
  --logo-color: #2196f3;
}

.list {
  list-style-type: none;
}

.header-navi {
  background-color: #fff;
}

.web {
  color: var(--logo-color);
}
.high-studio {
  color: var(--primery-title-color);
}

.under-studio {
  color: #fff;
}

.site-navi a {
  color: var(--primery-title-color);
}

.site-navi .link:hover,
.link-type .link:focus {
  color: var(--logo-color);
}

.first-navi {
  color: var(--logo-color);
}

.second-navi {
  color: var(--logo-color);
}

.link-type a {
  color: var(--primery-text-color);
}

.link-type .link:hover,
.link-type .link:focus {
  color: var(--logo-color);
}

.primery-section {
  background-color: #2f303a;
}
.primery-title {
  color: #fff;
}

.second-section {
  background-color: #e5e5e5;
}

.second-to-section {
  background-color: #e5e5e5;
}

.tretii-section {
  background-color: #f5f4fa;
}

h2,
h3 {
  color: var(--primery-title-color);
}

p {
  color: var(--primery-text-color);
}

.konec {
  background-color: #2f303a;
}

.primery-main {
  background-color: #e5e5e5;
}
